PORT=4000

MONGODB_URI=mongodb+srv://ademueliasisrael_db_user:12345get56@smartqueuecluster.wutdxtg.mongodb.net/smart_queue_db?appName=SmartQueueCluster

JWT_SECRET=smartQueueSecretKey0001
JWT_EXPIRES_IN=7d